/* Google Font Import */
@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&Nanum+Gothic:wght@700;800&Noto+Sans+KR:wght@300&Black+Han+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');


.nanum{
  font-family: 'Nanum Pen Script', cursive;
}

.f-green{
  color:#93c130;
}

.f-brown{
  color:rgb(42,26,15);
}

.f-size130{
  font-size:130px;
}

.f-size80{
  font-size:80px;
}

* {
  font-family: "NanumSquare", "Nanum Gothic", "Do Hyeon", "Noto Sans KR",
    sans-serif;
  font-weight: 400;
}

@font-face {
  font-family: 'NanumBarunpen';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.nanumbarungothic {
  font-family: 'NanumBarunGothic', sans-serif;
 }