<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.IoTBackend.mapper.DeviceMapper">
    
	
	<insert id="insertDevice">
		insert into device(user_id,device_id) 
    	values(#{user_id},#{device_id})
	</insert>
	
	<select id="selectDevice" resultType="Device">
		select * from device where user_id=#{user_id} 
	</select>
	
	<update id="updateDevice">
		update device
    	set device_id=#{device_id}
    	where user_id=#{user_id}
	</update>
</mapper>



