<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.IoTBackend.mapper.UserMapper">
    
	<select id="existsByUserId" resultType="int">
		select count(*) from user where social_id=#{socialId}
	</select>
	
	<select id="findId" resultType="String">
		select user_id from user where social_id=#{socialId}
	</select>
	
	<insert id="insertUser">
		insert into user(user_id,user_name,user_address,social_id) 
    	values(#{user_id},#{user_name},#{user_address},#{social_id})
	</insert>
	
	<select id="selectUser" resultType="User">
		SELECT * , (SELECT choice_id FROM plant_choice WHERE user_id=#{user_id} AND grow_flag=1) AS 'choice_id'
		from user  
		WHERE user_id=#{user_id}
	</select>
	
	<update id="updateUser">
		update user
    	set user_name=#{user_name}, user_address=#{user_address},user_pot=#{user_pot}
    	where user_id=#{user_id}
	</update>
	
	<update id="updateUserPot">
		update user
    	set user_pot=#{user_pot}
    	where user_id=#{user_id}
	</update>
</mapper>



